In [1]:
import pandas as pd
import numpy as np

In [2]:
last_names = pd.Series(['Rivera','Panizo','Barton-Henry','Sampietro','Fragoso','Talbot','Bayer','Suñol','Daukantaite',
'Delgadillo','Roig','Ferrer','Vidal','Casamajor','Martínez','Sang'])

In [3]:
names = pd.Series(['Claudia','Eva','Kelsey','Pau','Álvaro',
'Adrien','Jordi','David ','Vilma','Jessie Lee','Roger ','Adrià','Anna','Alejandro','Nacho','Chun'])

In [4]:
points = pd.Series([10,31,54,72,84,22,44,76,48,87,25,66,39,51,24,69])

In [5]:
data_bootcamp = pd.DataFrame({'names': names, 'last_names': last_names, 'points': points })

In [6]:
data_bootcamp

         names    last_names  points
0      Claudia        Rivera      10
1          Eva        Panizo      31
2       Kelsey  Barton-Henry      54
3          Pau     Sampietro      72
4       Álvaro       Fragoso      84
5       Adrien        Talbot      22
6        Jordi         Bayer      44
7       David          Suñol      76
8        Vilma   Daukantaite      48
9   Jessie Lee    Delgadillo      87
10      Roger           Roig      25
11       Adrià        Ferrer      66
12        Anna         Vidal      39
13   Alejandro     Casamajor      51
14       Nacho      Martínez      24
15        Chun          Sang      69

In [7]:
def new_calculator(function, iterable):
    result = map(function, iterable)
    return list(result)

In [8]:
l = [10, 12, 34, 23]

In [9]:
def half(x):
    return x / 2

In [10]:
new_calculator(half, l)

[5.0, 6.0, 17.0, 11.5]

In [14]:
 map(half, l)

In [15]:
for element in  map(half, l):
    print(element)

5.0
6.0
17.0
11.5

In [17]:
list(map (lambda x: x / 2, l))

[5.0, 6.0, 17.0, 11.5]

In [18]:
list(map (lambda x, y: x + y / 2, l))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [19]:
l_2 = [[2,3], [4,5]]

In [22]:
list(map(lambda x : x[0] + x[1] / 2, l_2))

[3.5, 6.5]

In [23]:
list(map(lambda  x : x[0] + x[1] / 2, l_2))

SyntaxError: invalid syntax (<ipython-input-23-9aa30e71b77f>, line 1)

# Filter

In [24]:
def is_odd(x):
    return x % 2 == 1

In [25]:
list(filter(is_odd(x), l))

NameError: name 'x' is not defined

In [32]:
list(filter( lambda x: x % 2 == 0, l))

[10, 12, 34]

In [30]:
l

[10, 12, 34, 23]

In [31]:
list(filter(lambda x: x % 2 == 0, map(half,l)))

[6.0]

In [34]:
list(map(half,l))

[5.0, 6.0, 17.0, 11.5]

In [37]:
data_bootcamp['points_half'] = data_bootcamp['points'].apply(half)

In [38]:
data_bootcamp

         names    last_names  points  points_half
0      Claudia        Rivera      10          5.0
1          Eva        Panizo      31         15.5
2       Kelsey  Barton-Henry      54         27.0
3          Pau     Sampietro      72         36.0
4       Álvaro       Fragoso      84         42.0
5       Adrien        Talbot      22         11.0
6        Jordi         Bayer      44         22.0
7       David          Suñol      76         38.0
8        Vilma   Daukantaite      48         24.0
9   Jessie Lee    Delgadillo      87         43.5
10      Roger           Roig      25         12.5
11       Adrià        Ferrer      66         33.0
12        Anna         Vidal      39         19.5
13   Alejandro     Casamajor      51         25.5
14       Nacho      Martínez      24         12.0
15        Chun          Sang      69         34.5

In [ ]:
]]