In [1]:
import requests as re

In [2]:
import json

In [20]:
response = re.get("http://api.open-notify.org/astros.json")

In [21]:
response

In [10]:
print(json.dumps(data, sort_keys=True, indent=1))

{
 "message": "success",
 "number": 3,
 "people": [
  {
   "craft": "ISS",
   "name": "Oleg Kononenko"
  },
  {
   "craft": "ISS",
   "name": "David Saint-Jacques"
  },
  {
   "craft": "ISS",
   "name": "Anne McClain"
  }
 ]
}

In [15]:
data['people']

[{'name': 'Oleg Kononenko', 'craft': 'ISS'},
 {'name': 'David Saint-Jacques', 'craft': 'ISS'},
 {'name': 'Anne McClain', 'craft': 'ISS'}]

In [16]:
response.headers

{'Server': 'nginx/1.10.3', 'Date': 'Wed, 13 Mar 2019 10:42:50 GMT', 'Content-Type': 'application/json', 'Content-Length': '182', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

200 -- everything went okay, and the result has been returned (if any)

301 -- the server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.

401 -- the server thinks you're not authenticated. This happens when you don't send the right credentials to access an API (we'll talk about authentication in a later post).

400 -- the server thinks you made a bad request. This can happen when you don't send along the right data, among other things.

403 -- the resource you're trying to access is forbidden -- you don't have the right permissions to see it.

404 -- the resource you tried to access wasn't found on the server.

In [25]:
params = {'lat': 41.39, 'lon': 2.19}

In [26]:
response = re.get("http://api.open-notify.org/iss-pass.json", params=params)

In [27]:
response

In [28]:
data = response.json()

In [29]:
data

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1552475393,
  'latitude': 41.39,
  'longitude': 2.19,
  'passes': 5},
 'response': [{'duration': 517, 'risetime': 1552512176},
  {'duration': 643, 'risetime': 1552517879},
  {'duration': 595, 'risetime': 1552523720},
  {'duration': 561, 'risetime': 1552529587},
  {'duration': 617, 'risetime': 1552535403}]}

In [56]:
import pandas as pd
df = pd.DataFrame(data['response'])

In [57]:
df

   duration    risetime
0       517  1552512176
1       643  1552517879
2       595  1552523720
3       561  1552529587
4       617  1552535403

In [58]:
from datetime import datetime
print(datetime.utcfromtimestamp(1552517879).strftime('%Y-%m-%d %H:%M:%S'))

2019-03-13 22:57:59

In [59]:
df['risetime_clear']= df['risetime'].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [60]:
df

   duration    risetime       risetime_clear
0       517  1552512176  2019-03-13 21:22:56
1       643  1552517879  2019-03-13 22:57:59
2       595  1552523720  2019-03-14 00:35:20
3       561  1552529587  2019-03-14 02:13:07
4       617  1552535403  2019-03-14 03:50:03

In [61]:
df['risetime_clear']= df['risetime_clear'].astype('datetime64[ns]')

In [62]:
df['risetime_clear']

0   2019-03-13 21:22:56
1   2019-03-13 22:57:59
2   2019-03-14 00:35:20
3   2019-03-14 02:13:07
4   2019-03-14 03:50:03
Name: risetime_clear, dtype: datetime64[ns]

In [63]:
df

   duration    risetime      risetime_clear
0       517  1552512176 2019-03-13 21:22:56
1       643  1552517879 2019-03-13 22:57:59
2       595  1552523720 2019-03-14 00:35:20
3       561  1552529587 2019-03-14 02:13:07
4       617  1552535403 2019-03-14 03:50:03