In [1]:
import pandas as pd

In [2]:
ufos = pd.read_csv('scrubbed.csv', low_memory = False)

In [3]:
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [4]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
datetime                80332 non-null object
city                    80332 non-null object
state                   74535 non-null object
country                 70662 non-null object
shape                   78400 non-null object
duration (seconds)      80332 non-null object
duration (hours/min)    80332 non-null object
comments                80317 non-null object
date posted             80332 non-null object
latitude                80332 non-null object
longitude               80332 non-null float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [5]:
ufos.shape

(80332, 11)

In [6]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [7]:
ufos.rename(columns = {'duration (seconds)': 'duration_seconds', 'duration (hours/min)': 'duration_hours_min', 'date posted': 'date_posted', 'longitude ': 'longitude'}, inplace = True)

In [8]:
ufos.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration_seconds',
       'duration_hours_min', 'comments', 'date_posted', 'latitude',
       'longitude'],
      dtype='object')

In [9]:
ufos.dtypes

datetime               object
city                   object
state                  object
country                object
shape                  object
duration_seconds       object
duration_hours_min     object
comments               object
date_posted            object
latitude               object
longitude             float64
dtype: object

In [10]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [11]:
set(ufos['datetime'])

{'11/4/1995 23:45',
 '1/29/2006 21:00',
 '7/13/2006 23:45',
 '2/14/2010 22:35',
 '3/8/2013 20:15',
 '9/10/2005 24:00',
 '8/26/1954 16:00',
 '7/1/2011 21:30',
 '11/30/1997 18:00',
 '1/15/2010 19:30',
 '12/23/2007 18:45',
 '10/3/1999 20:20',
 '1/1/1975 08:00',
 '11/9/1999 21:00',
 '12/5/2003 05:00',
 '1/16/2002 22:00',
 '12/15/2008 01:00',
 '5/29/2005 11:30',
 '9/25/2008 00:30',
 '6/6/2011 05:30',
 '9/9/2001 16:40',
 '12/11/2007 19:30',
 '8/14/2010 22:20',
 '1/14/2003 17:00',
 '4/18/2007 18:00',
 '7/12/1966 03:00',
 '7/21/2009 23:00',
 '11/12/2008 21:30',
 '1/3/2011 00:35',
 '7/16/1999 20:30',
 '12/22/2011 18:00',
 '6/16/2012 23:00',
 '8/19/2012 20:00',
 '11/30/2013 21:00',
 '12/21/2007 19:14',
 '12/20/2008 01:00',
 '4/28/2006 18:00',
 '5/14/2008 22:00',
 '9/11/2001 23:00',
 '9/15/2001 03:00',
 '12/10/1995 18:12',
 '4/19/2008 20:50',
 '3/27/2013 03:29',
 '9/17/2004 13:50',
 '2/14/2003 21:00',
 '6/11/1969 20:00',
 '12/2/2007 04:35',
 '5/1/2009 05:10',
 '9/21/2013 19:10',
 '12/10/1974 10:00',
 '3/11/1997 18:30',
 '3/1/2014 19:00',
 '4/14/2002 20:00',
 '6/1/1998 23:00',
 '8/16/2013 22:30',
 '4/11/2000 19:00',
 '12/16/2010 19:00',
 '3/9/2013 01:08',
 '6/7/2005 21:45',
 '6/3/2007 17:00',
 '8/15/2012 02:30',
 '7/8/1999 22:30',
 '4/11/1998 21:15',
 '11/20/1997 23:00',
 '3/1/2006 19:00',
 '6/17/1999 23:30',
 '9/3/2009 21:30',
 '6/2/1986 18:00',
 '7/17/2005 00:41',
 '3/28/2000 22:20',
 '9/10/2005 22:45',
 '12/25/1946 13:00',
 '7/21/2007 15:30',
 '6/19/2010 24:00',
 '6/19/2010 21:55',
 '11/22/2013 20:22',
 '5/3/2008 23:00',
 '11/5/2013 06:20',
 '3/25/1979 20:00',
 '5/3/2012 20:00',
 '4/8/2003 23:45',
 '12/17/1994 18:30',
 '8/13/2004 04:35',
 '9/25/2011 22:30',
 '8/21/2004 08:30',
 '11/26/2013 06:00',
 '7/15/2005 10:00',
 '9/19/2000 19:00',
 '9/29/2007 20:30',
 '10/5/2002 23:00',
 '6/30/2010 01:00',
 '10/1/2005 00:55',
 '3/11/2010 22:05',
 '5/25/2013 14:00',
 '7/31/2012 22:30',
 '6/5/1980 01:00',
 '4/6/2000 20:00',
 '10/3/2003 12:50',
 '10/5/2005 19:45',
 '8/8/2013 04:30',
 '1/22/2001 22:30',
 '3/5/2007 18:00',
 '7/17/2012 02:20',
 '7/22/2011 23:00',
 '1/17/2007 00:15',
 '1/22/2014 08:45',
 '11/28/2004 18:47',
 '5/28/2012 20:00',
 '7/20/2003 21:40',
 '9/20/2005 15:00',
 '1/15/2007 19:00',
 '3/9/2012 01:30',
 '10/15/1980 02:30',
 '2/28/2011 19:10',
 '9/27/2005 20:30',
 '2/12/2003 22:30',
 '3/12/1960 23:00',
 '5/7/2006 16:25',
 '9/22/2010 20:45',
 '2/27/2003 05:00',
 '10/23/2013 19:28',
 '6/20/2008 10:26',
 '3/24/2011 21:50',
 '7/12/2013 20:00',
 '10/1/2012 23:00',
 '11/16/2011 17:50',
 '3/17/2010 19:00',
 '2/25/2009 19:00',
 '5/22/2008 01:00',
 '5/31/2010 22:10',
 '8/28/1994 22:00',
 '5/16/2004 02:40',
 '10/29/2012 07:35',
 '3/1/1977 20:00',
 '6/16/2010 01:00',
 '4/20/2007 03:43',
 '1/1/2011 07:25',
 '5/23/2012 21:00',
 '1/1/2012 12:03',
 '3/5/2007 19:25',
 '5/30/2005 03:00',
 '7/31/1984 19:00',
 '10/8/2008 20:50',
 '5/19/1995 22:42',
 '1/24/2011 01:10',
 '8/2/2011 21:15',
 '10/29/2007 22:11',
 '6/17/1990 20:30',
 '12/3/2006 20:13',
 '2/7/2004 00:00',
 '5/15/2004 22:40',
 '7/15/2012 23:00',
 '10/12/1999 17:15',
 '11/9/2005 04:50',
 '7/9/2009 03:00',
 '5/1/2002 21:00',
 '12/13/2004 03:11',
 '3/2/2011 00:00',
 '7/4/2008 01:15',
 '4/20/2007 21:19',
 '5/15/1988 15:00',
 '6/28/2012 21:04',
 '7/13/2013 01:00',
 '5/12/1998 03:00',
 '2/20/1979 02:00',
 '10/15/2002 19:45',
 '8/7/1995 17:00',
 '10/20/1996 20:20',
 '11/12/1964 20:00',
 '8/18/2010 22:00',
 '5/22/2010 22:25',
 '5/1/2012 21:30',
 '6/8/2012 22:40',
 '1/13/2006 15:12',
 '8/26/2010 23:30',
 '1/20/2013 21:00',
 '7/20/2001 23:59',
 '7/22/2002 15:00',
 '8/25/2001 20:55',
 '8/4/2006 22:14',
 '4/23/2003 06:00',
 '1/3/2008 02:40',
 '8/27/2007 20:50',
 '8/7/2007 21:39',
 '10/12/2000 17:40',
 '10/16/2010 15:00',
 '2/25/2011 16:10',
 '3/23/2013 18:55',
 '8/17/2002 01:06',
 '4/16/2004 18:00',
 '6/19/2004 05:30',
 '6/1/1966 24:00',
 '1/3/2007 23:00',
 '6/30/2003 23:10',
 '8/11/2000 22:00',
 '8/15/1999 23:18',
 '10/10/2002 19:45',
 '9/1/2003 23:00',
 '2/25/1998 05:45',
 '2/26/2013 24:00',
 '3/30/2008 22:45',
 '10/17/2012 01:30',
 '11/6/2010 22:00',
 '2/7/2008 21:00',
 '3/8/2014 14:00',
 '6/26/2007 16:00',
 '3/17/2009 19:59',
 '6/15/1973 21:50',
 '6/18/2013 10:58',
 '8/1/2008 23:00',
 '11/7/2005 23:30',
 '2/28/2014 01:00',
 '4/27/2012 22:00',
 '6/26/2012 19:15',
 '9/23/1998 23:10',
 '2/18/2011 21:00',
 '3/25/2005 00:00',
 '8/13/2008 16:30',
 '7/7/2000 21:22',
 '12/11/2009 23:00',
 '11/24/2012 19:00',
 '10/29/2010 01:30',
 '3/11/1999 15:00',
 '3/18/2010 21:00',
 '7/6/2002 00:01',
 '7/22/2012 17:00',
 '10/18/2011 06:00',
 '10/11/2010 00:30',
 '7/4/2001 21:10',
 '10/14/2005 09:35',
 '9/6/2012 08:00',
 '11/8/2010 19:30',
 '4/10/2008 20:44',
 '11/30/2002 23:45',
 '11/8/2004 20:15',
 '12/3/1976 15:30',
 '11/28/1998 16:45',
 '7/5/2003 00:30',
 '5/8/2004 14:10',
 '8/3/2011 01:20',
 '9/8/2007 07:00',
 '11/28/1996 22:30',
 '7/10/1999 00:55',
 '7/6/2013 20:55',
 '2/9/2005 16:30',
 '8/31/2013 04:30',
 '12/9/1965 00:00',
 '5/15/1962 21:00',
 '8/16/2006 22:00',
 '1/17/2013 18:00',
 '3/10/2002 02:00',
 '3/19/2013 23:00',
 '7/5/2013 22:00',
 '4/9/2008 21:45',
 '5/7/2003 21:30',
 '6/30/2001 21:33',
 '3/20/2012 21:30',
 '1/19/2006 23:15',
 '8/5/2000 21:43',
 '4/4/2011 03:00',
 '11/1/2008 20:40',
 '11/15/2013 21:45',
 '5/29/2012 23:00',
 '1/1/2008 00:08',
 '3/30/2009 13:55',
 '7/16/2009 16:00',
 '7/4/2004 21:52',
 '2/20/1999 23:40',
 '10/4/2009 19:00',
 '8/4/2010 23:40',
 '1/16/2014 22:00',
 '9/16/2006 04:45',
 '7/21/2009 23:23',
 '7/21/2012 22:30',
 '12/28/1925 18:00',
 '3/24/1966 22:10',
 '5/8/2004 01:00',
 '6/30/2005 13:00',
 '10/4/2000 22:00',
 '12/15/1998 22:30',
 '12/30/2008 14:29',
 '2/24/2006 15:15',
 '6/15/2010 01:00',
 '6/9/2009 22:20',
 '9/3/2004 21:30',
 '1/5/2009 20:30',
 '11/11/2013 15:45',
 '11/14/2003 14:50',
 '5/12/2001 23:00',
 '11/19/2012 04:00',
 '7/24/2005 03:00',
 '6/5/2007 21:30',
 '7/31/2011 01:25',
 '4/24/2006 00:36',
 '6/15/1974 00:00',
 '11/4/2013 12:30',
 '6/1/1998 14:00',
 '12/13/2008 18:05',
 '8/2/2008 00:30',
 '2/10/2005 19:50',
 '12/11/2003 23:00',
 '4/15/2011 20:00',
 '11/30/1995 22:35',
 '1/7/2013 04:30',
 '7/26/1977 14:00',
 '1/8/2004 15:05',
 '6/22/2003 16:00',
 '10/11/2008 00:00',
 '5/23/2009 20:00',
 '11/4/2009 09:00',
 '9/16/2004 19:15',
 '12/15/1997 03:30',
 '2/12/2008 19:15',
 '8/26/2011 21:25',
 '9/15/1994 22:00',
 '4/19/2014 20:15',
 '12/10/2013 22:20',
 '9/27/1998 23:35',
 '8/16/1975 21:00',
 '2/6/2001 18:10',
 '4/11/2012 22:07',
 '4/23/2013 03:15',
 '7/14/1994 08:00',
 '10/13/2012 01:38',
 '5/26/2011 23:00',
 '7/20/2002 20:00',
 '9/11/2004 20:00',
 '11/5/2012 17:10',
 '10/22/2012 00:05',
 '2/24/2013 21:30',
 '4/28/2000 04:30',
 '10/6/2010 21:00',
 '6/15/1965 21:30',
 '7/4/2004 18:30',
 '2/9/1996 19:45',
 '7/20/2010 15:30',
 '11/18/2013 17:30',
 '5/25/1975 23:00',
 '5/3/2002 19:00',
 '7/7/2004 22:30',
 '11/17/1995 21:00',
 '5/10/2007 23:00',
 '8/1/2013 20:14',
 '9/14/2013 20:10',
 '7/17/1999 23:00',
 '11/17/2012 03:00',
 '11/28/2010 00:15',
 '11/26/2004 13:00',
 '6/4/2013 23:30',
 '11/24/2009 20:20',
 '6/12/2012 21:45',
 '12/1/2005 17:00',
 '9/19/2011 20:50',
 '6/15/1990 24:00',
 '2/4/2010 05:40',
 '1/31/2008 06:30',
 '12/12/2007 17:00',
 '9/16/2001 17:30',
 '10/21/2004 19:30',
 '8/15/1998 19:00',
 '1/31/2001 23:45',
 '9/22/2010 09:01',
 '3/15/2004 18:00',
 '10/16/2004 09:20',
 '12/25/1971 08:00',
 '12/31/2006 17:30',
 '8/17/2013 21:27',
 '9/6/2004 04:00',
 '12/22/2004 20:30',
 '10/18/2004 00:00',
 '8/10/2007 03:00',
 '4/16/2013 03:30',
 '5/27/2012 17:30',
 '12/7/2011 23:32',
 '10/16/2005 19:46',
 '3/25/2004 01:00',
 '8/8/2010 09:00',
 '9/9/1969 21:10',
 '11/8/2004 24:00',
 '2/3/2014 21:00',
 '8/24/2000 23:20',
 '5/15/1997 13:00',
 '9/18/2007 22:00',
 '9/1/2013 20:00',
 '6/2/2000 00:00',
 '7/5/2002 01:25',
 '12/13/2012 17:27',
 '6/28/2013 22:00',
 '12/27/2005 03:20',
 '8/5/2011 23:45',
 '12/18/2003 22:00',
 '2/22/2001 20:15',
 '12/25/2013 17:10',
 '6/24/1977 01:00',
 '12/25/2003 19:06',
 '1/9/1999 22:00',
 '2/10/2007 17:00',
 '5/9/1999 22:00',
 '8/28/1998 22:45',
 '5/5/2005 22:00',
 '3/21/2014 21:00',
 '8/9/2003 22:30',
 '2/26/2014 17:30',
 '12/6/2002 19:35',
 '10/15/2005 01:30',
 '3/21/2002 20:26',
 '8/19/2004 15:50',
 '11/8/2011 23:00',
 '2/27/2007 01:00',
 '8/15/1968 13:00',
 '7/4/2013 21:30',
 '3/30/2010 21:25',
 '10/2/2012 19:30',
 '4/8/1999 20:45',
 '8/15/2013 17:00',
 '3/28/2014 22:00',
 '3/9/2006 18:30',
 '6/14/2004 21:00',
 '9/27/2012 23:05',
 '9/11/2010 18:30',
 '5/19/2012 20:58',
 '7/4/2007 23:34',
 '3/10/2012 15:45',
 '3/12/1999 00:45',
 '1/26/2006 18:30',
 '10/6/1998 02:00',
 '1/16/2007 18:30',
 '11/8/2001 17:00',
 '6/13/2002 21:15',
 '7/17/2011 23:00',
 '12/28/2008 11:00',
 '8/13/2013 23:20',
 '8/8/1979 21:00',
 '10/26/2003 23:00',
 '11/2/2010 19:45',
 '11/30/2013 23:00',
 '6/16/2006 22:30',
 '9/21/2013 23:30',
 '10/22/2005 22:00',
 '9/30/2012 20:15',
 '2/15/1995 03:58',
 '7/25/1999 20:30',
 '9/25/2003 01:00',
 '2/18/2006 22:50',
 '6/30/2004 21:00',
 '3/16/2000 13:05',
 '10/7/1967 22:00',
 '6/21/1973 21:00',
 '11/5/1999 22:34',
 '7/20/2004 01:15',
 '6/11/1998 18:15',
 '9/18/1975 17:00',
 '5/16/2012 00:00',
 '4/23/2000 23:00',
 '5/27/2006 22:35',
 '7/26/2013 23:30',
 '7/13/2004 21:15',
 '4/29/2008 14:30',
 '4/15/2012 14:00',
 '6/1/1977 23:45',
 '2/11/2003 20:40',
 '8/25/2010 20:35',
 '7/5/1999 01:00',
 '10/8/2011 21:00',
 '11/17/1997 03:00',
 '10/31/2010 23:30',
 '6/30/2007 20:50',
 '7/2/2003 01:53',
 '11/6/2007 17:45',
 '9/2/2007 10:50',
 '12/28/2011 15:00',
 '7/1/2000 03:00',
 '12/24/2011 20:50',
 '6/21/2010 23:00',
 '10/15/2004 22:30',
 '9/19/2007 21:00',
 '9/11/2000 01:17',
 '10/17/2009 21:50',
 '7/3/2008 16:00',
 '12/2/2003 01:00',
 '4/5/2011 03:00',
 '1/31/2004 09:15',
 '8/13/1982 00:30',
 '9/8/2001 00:35',
 '9/1/2006 04:55',
 '10/2/2011 19:27',
 '12/23/2011 08:10',
 '11/30/2003 19:50',
 '2/4/2005 04:00',
 '1/12/2008 02:00',
 '12/7/2008 10:30',
 '6/1/1962 00:00',
 '7/6/2001 02:00',
 '8/7/1953 21:00',
 '5/2/2014 10:30',
 '6/18/1995 00:35',
 '2/8/1999 17:50',
 '8/11/2002 01:02',
 '3/30/1995 19:30',
 '5/18/1993 03:00',
 '9/19/2013 23:05',
 '8/15/1983 17:00',
 '12/13/2012 21:15',
 '1/10/2003 18:30',
 '9/8/2013 19:30',
 '9/1/1961 20:30',
 '3/11/2014 16:56',
 '10/9/2009 09:15',
 '6/6/2005 23:00',
 '1/18/2009 18:45',
 '3/7/2008 21:30',
 '6/1/1995 22:00',
 '7/7/1973 18:00',
 '9/24/2011 00:00',
 '10/18/2013 20:00',
 '2/20/2004 19:00',
 '4/8/2001 11:00',
 '5/21/2005 23:30',
 '1/18/2000 18:25',
 '4/20/2014 21:45',
 '3/20/2012 01:00',
 '2/19/2012 20:00',
 '1/8/2007 23:45',
 '1/7/2012 03:30',
 '10/7/2005 02:15',
 '7/31/2012 00:00',
 '8/28/2010 09:15',
 '10/27/2004 09:45',
 '11/5/2006 20:00',
 '1/2/2010 13:00',
 '3/11/1999 19:30',
 '6/19/2003 22:06',
 '9/29/2003 05:00',
 '10/18/2013 22:34',
 '12/1/1999 04:50',
 '7/15/2003 00:00',
 '10/15/1996 23:00',
 '4/12/2010 00:00',
 '7/9/2003 00:30',
 '8/21/2010 22:30',
 '4/10/2003 19:17',
 '3/11/2009 00:00',
 '10/12/1999 01:30',
 '3/1/2014 23:30',
 '8/3/2010 19:00',
 '8/12/1998 21:30',
 '10/30/2003 22:00',
 '1/20/2001 02:00',
 '2/14/1976 11:55',
 '5/12/2010 19:45',
 '5/18/2003 23:15',
 '3/6/2008 05:17',
 '8/30/2013 00:00',
 '10/30/1999 22:00',
 '1/14/2005 23:00',
 '8/23/2010 20:40',
 '7/13/2007 21:40',
 '10/1/2013 12:30',
 '1/10/2008 20:05',
 '7/16/2004 22:45',
 '9/9/2006 22:00',
 '6/5/2006 00:05',
 '1/23/2014 23:40',
 '2/5/2009 17:30',
 '3/4/2012 07:30',
 '8/2/2004 20:00',
 '6/9/2002 23:10',
 '9/13/2002 20:30',
 '7/7/2008 22:05',
 '9/26/2008 20:15',
 '2/1/2010 08:30',
 '4/24/2012 21:00',
 '6/15/2002 19:30',
 '8/2/2013 21:31',
 '1/8/2001 05:40',
 '3/16/2002 20:20',
 '8/4/2008 21:00',
 '9/16/1999 03:00',
 '9/18/2009 20:30',
 '12/4/2004 21:08',
 '10/1/1983 17:00',
 '7/18/2008 23:30',
 '7/1/2011 19:00',
 '11/8/2012 19:50',
 '5/13/2001 02:45',
 '2/5/2005 17:30',
 '8/19/2001 20:45',
 '10/29/2010 21:00',
 '6/13/2009 06:30',
 '7/5/2009 23:00',
 '7/10/1997 01:30',
 '2/6/2006 14:30',
 '2/18/2001 21:05',
 '12/1/1993 22:00',
 '5/28/2012 22:40',
 '9/6/2004 22:05',
 '7/9/2005 22:00',
 '2/11/2008 18:00',
 '6/22/2002 20:30',
 '7/14/2012 03:00',
 '1/18/2014 21:50',
 '3/10/2010 19:00',
 '4/20/2009 21:00',
 '9/8/2012 19:00',
 '11/30/2010 18:30',
 '7/26/2003 00:50',
 '9/11/2013 23:10',
 '6/10/2012 23:00',
 '11/16/2000 23:03',
 '3/14/2003 04:30',
 '9/23/2009 22:00',
 '9/29/2012 22:59',
 '10/7/2013 23:45',
 '5/3/2004 21:26',
 '7/23/2001 22:08',
 '11/9/2012 23:15',
 '3/31/2007 21:48',
 '9/4/1995 05:45',
 '4/16/2009 11:26',
 '5/30/1995 04:45',
 '2/7/2006 11:20',
 '8/5/2005 21:30',
 '6/10/2001 03:15',
 '7/26/2013 03:43',
 '11/29/2012 16:25',
 '5/1/1983 19:00',
 '4/25/2004 21:00',
 '8/1/1966 05:30',
 '1/28/2014 13:24',
 '9/5/2004 00:43',
 '2/1/2012 14:30',
 '7/3/2013 22:02',
 '10/31/2004 21:00',
 '12/2/2009 03:24',
 '4/25/2014 18:30',
 '6/23/1997 09:30',
 '9/11/1995 23:23',
 '10/15/1999 24:00',
 '9/23/2013 21:23',
 '6/1/1994 23:30',
 '3/20/2009 23:10',
 '8/20/2008 22:00',
 '10/31/2008 23:00',
 '8/24/2003 11:30',
 '10/22/2011 23:00',
 '10/31/1953 19:00',
 '10/9/2009 21:30',
 '6/16/2008 08:25',
 '8/30/2003 21:00',
 '9/30/2011 19:35',
 '9/2/1999 21:00',
 '9/16/2013 10:55',
 '7/15/1952 13:00',
 '7/18/2009 21:45',
 '10/5/2013 22:44',
 '5/19/2009 10:40',
 '6/21/2011 09:00',
 '6/26/2000 00:22',
 '7/22/1999 20:00',
 '2/15/1999 23:10',
 '7/30/2011 22:30',
 '7/5/1999 23:00',
 '1/8/2007 17:00',
 '6/4/1992 01:00',
 '7/16/2011 22:00',
 '11/14/1999 15:00',
 '1/14/2014 02:00',
 '12/4/2012 22:00',
 '10/17/2013 18:50',
 '6/17/1997 01:30',
 '3/12/2004 21:20',
 '8/15/2010 00:10',
 '9/16/1966 20:00',
 '5/26/2012 00:00',
 '11/20/2002 15:00',
 '5/15/2004 06:45',
 '7/4/2012 23:30',
 '5/6/2007 15:30',
 '8/10/2013 21:50',
 '3/3/2011 12:00',
 '7/12/2006 23:45',
 '9/5/2009 19:20',
 '6/3/2010 14:00',
 '8/8/2000 19:35',
 '12/3/2008 00:29',
 '1/31/2014 03:45',
 '8/10/1998 15:00',
 '1/11/2008 08:30',
 '12/10/2007 21:00',
 '2/28/2012 22:20',
 '8/1/2000 00:00',
 '9/9/1996 05:30',
 '3/24/2007 23:00',
 '6/8/2004 23:30',
 '3/2/2009 04:45',
 '3/6/2007 19:00',
 '8/22/2011 20:22',
 '5/18/2003 02:00',
 '12/20/2000 22:00',
 '11/17/2002 03:00',
 '5/16/2010 21:30',
 '6/10/2012 00:04',
 '9/19/2009 19:58',
 '11/19/1976 23:00',
 '1/18/2014 00:00',
 '9/17/2008 19:30',
 '7/9/2007 21:30',
 '2/4/2009 06:30',
 '10/21/2012 19:06',
 '6/17/2002 20:15',
 '3/14/2002 20:30',
 '10/26/1999 21:00',
 '11/7/2006 20:30',
 '12/29/2008 18:00',
 '4/24/2003 22:01',
 '6/21/1969 23:00',
 '8/28/2002 22:30',
 '7/11/1981 21:45',
 '11/28/2010 17:30',
 '4/11/2012 21:40',
 '1/11/2004 17:10',
 '2/21/1995 19:00',
 '9/19/2009 09:00',
 '11/14/1997 17:00',
 '11/18/2004 08:30',
 '2/16/1992 02:00',
 '3/1/2007 06:00',
 '3/7/2009 23:45',
 '7/29/2006 20:00',
 '11/24/2011 18:30',
 '8/15/1957 01:00',
 '6/16/1994 15:00',
 '9/19/2005 10:47',
 '9/23/2000 06:45',
 '12/28/2007 19:00',
 '7/5/2009 01:00',
 '10/30/2005 24:00',
 '6/15/2004 01:10',
 '12/27/2000 19:15',
 '9/2/2007 16:30',
 '11/11/2007 18:00',
 '1/29/2008 20:00',
 '8/2/2001 07:25',
 '2/14/2006 00:00',
 '1/25/2003 18:00',
 '2/16/2009 19:30',
 '11/22/2005 21:45',
 '2/2/2014 21:00',
 '12/22/2009 21:00',
 '4/27/2002 15:30',
 '10/16/2012 20:10',
 '7/10/1979 19:00',
 '3/9/2007 18:45',
 '9/2/2000 01:00',
 '11/26/2006 03:00',
 '7/25/2010 18:00',
 '7/1/2007 21:30',
 '8/24/2005 20:30',
 '2/26/2011 20:00',
 '3/1/2011 07:00',
 '6/10/1976 22:35',
 '3/14/2010 20:30',
 '10/8/2013 19:14',
 '4/17/2013 23:30',
 '7/9/2003 20:30',
 '4/19/1995 21:44',
 '8/5/2004 03:49',
 '9/5/1976 02:00',
 '2/11/2002 22:10',
 '10/20/2008 19:30',
 '4/19/2010 15:00',
 '11/29/2002 22:00',
 '6/25/2003 01:00',
 '1/30/1996 24:00',
 '6/11/2008 22:00',
 '3/14/2010 19:45',
 '10/21/2001 22:00',
 '9/25/2011 23:45',
 '1/31/2014 21:30',
 '7/5/2009 07:00',
 '8/24/2010 20:00',
 '1/28/2007 00:01',
 '7/29/2004 00:00',
 '12/10/2003 19:25',
 '6/16/2011 24:00',
 '8/11/2011 21:00',
 '10/13/2003 01:00',
 '9/27/2004 20:43',
 '8/25/2012 21:00',
 '12/20/2009 17:20',
 '5/12/1998 01:00',
 '12/15/1994 21:00',
 '9/15/2013 21:00',
 '8/14/2008 21:00',
 '1/1/2010 13:00',
 '7/23/2011 23:00',
 '10/15/1982 19:00',
 '8/30/2009 15:00',
 '4/22/1999 23:40',
 '11/30/2003 18:30',
 '4/10/2008 22:00',
 '5/17/2006 23:30',
 '7/9/2004 21:58',
 '7/5/2011 17:15',
 '9/17/1999 21:05',
 '3/15/2010 05:45',
 '4/9/2001 12:05',
 '6/10/2012 22:50',
 '3/7/1994 12:00',
 '7/27/2008 13:10',
 '9/12/2005 21:00',
 '6/12/2005 13:00',
 '8/4/2012 23:05',
 '9/23/2005 00:00',
 '9/21/2013 21:20',
 '7/15/1979 14:00',
 '4/14/2010 22:00',
 '9/9/2003 02:30',
 '9/10/1999 12:35',
 '8/28/2005 23:30',
 '5/11/2011 21:40',
 '4/20/1976 13:30',
 '12/23/1993 12:00',
 '4/7/2004 23:13',
 '3/19/2005 19:45',
 '8/15/1981 19:00',
 '9/11/2001 15:00',
 '1/22/2008 18:00',
 '2/22/2005 20:10',
 '6/20/2013 22:20',
 '7/8/1991 19:00',
 '1/30/2011 21:30',
 '4/4/2002 15:30',
 '2/1/2003 22:30',
 '2/17/2012 18:40',
 '12/31/2011 23:30',
 '2/11/2002 20:30',
 '11/7/2001 24:00',
 '12/16/2000 00:45',
 '2/17/2013 20:00',
 '6/15/1983 19:00',
 '7/10/1996 01:30',
 '7/15/2012 01:45',
 '8/16/2013 08:00',
 '8/18/2001 03:45',
 '10/4/2012 20:30',
 '12/21/1969 02:54',
 '1/8/2005 23:53',
 '3/14/2010 16:00',
 '8/30/2012 18:39',
 '11/19/2011 21:30',
 '12/16/2008 21:28',
 '2/24/2006 13:12',
 '8/18/2002 02:00',
 '12/30/2007 20:30',
 '11/30/2003 00:00',
 '7/11/2009 21:18',
 '9/16/1976 23:30',
 '7/17/2008 02:15',
 '11/15/2002 00:02',
 '8/12/2001 23:36',
 '12/16/2013 08:45',
 '7/15/2007 21:00',
 '7/22/2012 21:45',
 '7/31/2004 00:30',
 '6/4/2008 20:00',
 '6/15/1992 16:30',
 '8/19/2001 22:05',
 '9/28/2013 22:30',
 '10/20/1974 07:00',
 '1/15/2012 20:20',
 '12/15/2002 21:00',
 '9/21/1998 19:25',
 '1/7/2012 22:30',
 '11/17/2013 20:00',
 '11/22/2004 19:30',
 '11/8/2009 23:35',
 '12/27/2011 15:50',
 '3/1/2009 22:00',
 '9/2/2006 14:00',
 '10/20/2003 16:05',
 '7/6/2002 22:41',
 '9/24/2011 23:25',
 '10/18/2001 22:30',
 '10/18/2013 23:00',
 '12/27/2004 07:35',
 '3/1/2008 21:00',
 '4/12/2008 21:20',
 '1/26/2012 11:30',
 '8/1/2000 18:00',
 '8/23/2002 02:30',
 '9/15/1995 07:00',
 '1/12/2012 01:26',
 '7/24/1998 01:40',
 '11/12/2000 09:00',
 '5/28/2000 20:30',
 '6/2/1997 15:32',
 '11/8/2003 22:00',
 '6/1/1991 17:00',
 '8/20/2013 21:10',
 '5/6/1999 16:34',
 '1/25/2014 22:45',
 '7/1/2000 15:00',
 '10/30/2002 01:00',
 '9/26/2011 18:30',
 '4/10/2013 12:00',
 '8/14/2000 04:45',
 '3/15/1990 22:00',
 '8/11/2011 20:00',
 '6/17/2011 10:50',
 '11/24/2004 20:30',
 '4/29/1999 23:45',
 '10/6/2003 20:30',
 '7/15/2008 08:00',
 '4/10/2003 12:10',
 '8/29/2011 20:45',
 '9/1/2005 18:25',
 '3/15/2014 23:00',
 '12/1/2004 02:35',
 '9/3/2005 12:45',
 '1/10/2014 18:30',
 '10/2/2005 03:00',
 '4/29/2010 20:14',
 '8/11/2012 23:10',
 '3/18/2000 23:45',
 '3/9/2008 22:30',
 '4/27/2000 22:15',
 '7/18/2008 19:00',
 '12/24/2011 13:30',
 '8/10/2013 23:00',
 '7/19/2010 21:00',
 '8/31/2003 01:00',
 '10/23/2010 19:25',
 '11/12/2001 18:15',
 '10/10/1994 18:30',
 '1/20/2012 19:20',
 '10/11/1999 09:10',
 '2/15/1978 02:00',
 '8/11/2004 19:30',
 '8/6/2010 22:10',
 '4/29/2011 21:05',
 '8/30/2004 21:45',
 '7/24/2011 01:00',
 '10/15/1978 21:00',
 '2/17/2009 20:45',
 '8/28/2013 22:00',
 '9/10/2012 02:40',
 '9/20/1995 23:30',
 '8/15/1998 22:30',
 '1/29/1986 21:30',
 '7/3/2003 22:30',
 '3/7/2007 21:15',
 '12/7/2013 01:00',
 '4/20/2014 14:00',
 '1/12/2011 00:00',
 '11/26/2012 13:01',
 '4/1/2002 23:30',
 '11/30/2012 21:30',
 '7/5/2003 00:10',
 '11/6/2006 09:00',
 '1/1/2006 17:00',
 '6/10/2004 23:28',
 '1/24/2003 08:30',
 '2/1/1999 22:05',
 '12/23/2012 19:00',
 '2/9/2008 13:00',
 '8/20/2012 19:40',
 '1/28/2000 20:58',
 '7/1/1959 01:00',
 '10/25/1999 11:30',
 '12/3/2000 23:30',
 '9/21/2005 22:39',
 '8/25/2000 21:30',
 '11/17/2001 01:27',
 '11/13/2007 20:20',
 '5/25/1995 15:00',
 '8/18/2009 18:05',
 '2/19/1999 04:45',
 '5/27/1999 13:45',
 '12/13/1998 12:30',
 '7/26/2008 09:30',
 '10/26/2013 17:30',
 '3/16/2013 20:50',
 '7/2/2001 22:00',
 '1/23/2012 19:30',
 '9/27/2011 20:00',
 '11/27/2011 05:45',
 '5/20/2005 21:05',
 '9/27/2013 17:45',
 '8/17/2003 22:00',
 '2/5/2011 18:00',
 '6/10/2000 04:00',
 '5/17/2002 22:45',
 '11/5/1976 19:30',
 '12/29/2013 06:00',
 '7/12/1994 21:40',
 '5/22/2012 15:30',
 '3/9/2014 16:45',
 '10/31/1986 03:00',
 '11/2/2013 20:23',
 ...}

In [12]:
ufos.astype({'datetime': 'datetime64[ns]', 'date_posted':'datetime64[ns]', 'duration_seconds': int, 'latitude': float})

ValueError: hour must be in 0..23

In [13]:
ufos.astype({ 'duration_seconds': float})

ValueError: could not convert string to float: '2`'

In [14]:
ufos.astype({ 'latitude': float})

ValueError: could not convert string to float: '33q.200088'

In [15]:
ufos.astype({'date_posted' :'datetime64[ns]'}, inplace = True)

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,2000-05-11,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.3916667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.5,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,2004-07-25,38.1055556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.8544444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.5827778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.4238889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.2541667,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2007-02-01,40.7008333,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.7002778,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.7211111,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.7008333,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.2000000,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.2783333,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.5622222,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.6819444,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.7141667,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.4330556,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.2783333,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.7763889,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,2012-09-24,34.2977778,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.8466667,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.8863889,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.0525000,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.7152778,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.5050000,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.25,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.2097222,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.5297222,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.6513889,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.3,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.1013889,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,2013-09-30,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.6527778,-97.477778

In [16]:
ufos['date_posted'] = ufos['date_posted'].astype('datetime64[ns]')

# Latitude

In [17]:
ufos.astype({ 'latitude': float})

ValueError: could not convert string to float: '33q.200088'

In [18]:
ufos[ufos['latitude'] == '33.200088']

Empty DataFrame
Columns: [datetime, city, state, country, shape, duration_seconds, duration_hours_min, comments, date_posted, latitude, longitude]
Index: []

In [19]:
ufos[ufos['latitude'] == '33q.200088']['latitude'] = '33.200088'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
ufos.loc[43782, 'latitude'] = '33.200088'

In [21]:
ufos.astype({ 'latitude': float}, inplace = True)

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.595000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.117500,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.586111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.294722,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.916389,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.233333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,2000-05-11,40.668611,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.153611,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.823889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.843056,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.537778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.325278,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.391667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.500000,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,2004-07-25,38.105556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.854444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.582778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.423889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.254167,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2007-02-01,40.700833,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.700278,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.721111,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.700833,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.200000,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.278333,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.562222,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.681944,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.714167,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.433056,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.278333,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.776389,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,2012-09-24,34.297778,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.846667,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.886389,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.052500,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.715278,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.505000,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.250000,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.209722,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.529722,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.651389,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.300000,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.101389,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [22]:
ufos['latitude'] = ufos['latitude'].replace('33q.200088', '33.200088')

In [23]:
ufos['latitude'] = ufos['latitude'] .astype( 'float64')

In [24]:
ufos.dtypes

datetime                      object
city                          object
state                         object
country                       object
shape                         object
duration_seconds              object
duration_hours_min            object
comments                      object
date_posted           datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object

# Datetime

In [25]:
ufos.astype({'datetime': 'datetime64[ns]'})

ValueError: hour must be in 0..23

In [26]:
ufos.dtypes

datetime                      object
city                          object
state                         object
country                       object
shape                         object
duration_seconds              object
duration_hours_min            object
comments                      object
date_posted           datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object

In [27]:
ufos['24' in ufos['datetime']]

KeyError: False

In [28]:
ufos['date_24'] = ufos['datetime'].apply(lambda x: '24:' in x)

In [29]:
ufos[ufos['date_24'] == True ]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2007-02-01,43.212778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,2003-03-04,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,2012-10-30,42.480556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,2003-10-31,-7.336830,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,2013-10-14,39.161944,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,2013-10-23,38.678611,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,2004-10-27,34.273889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,2007-11-28,44.974722,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,2012-10-30,41.261667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,2011-10-25,34.044722,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,2004-01-17,53.550000,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,1999-02-16,30.460000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,2009-12-12,41.026389,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2001-02-18,39.009167,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,2012-04-18,35.320000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,2000-08-25,19.063889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,2001-04-01,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,2004-01-31,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,2005-05-24,34.052222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,2006-05-15,47.104167,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,2009-03-19,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,1998-11-19,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,2005-11-03,34.278333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,2013-10-23,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,2008-03-31,26.705278,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,2002-10-28,42.652500,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,2002-10-28,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,2011-10-25,37.804444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,1999-04-02,45.715000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,2000-12-02,29.423889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,2014-05-02,43.555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,2006-10-30,42.437500,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,2008-08-12,41.026389,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,2009-12-12,50.850000,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,2005-09-02,41.850000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,2005-09-15,40.771944,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,2001-10-12,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2008-02-14,28.982500,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,2011-10-10,45.221667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,1998-09-26,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,1998-09-26,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,1998-09-26,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,1999-11-02,47.406667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,1998-09-26,40.236389,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,1998-09-26,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,2004-09-29,42.656667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,2014-01-24,42.760000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,1998-11-01,47.674167,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,2004-04-09,41.314444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,2006-10-30,43.422222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,2008-10-31,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,2006-10-30,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,2002-09-06,28.555000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,2004-09-29,48.195833,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,2004-09-09,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,2013-09-09,36.232500,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,2005-12-16,33.849167,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,2002-09-13,38.731667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,2004-09-09,38.478333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,2003-09-17,42.008333,-91.643889,True

In [30]:
ufos['datetime'] = ufos['datetime'].replace('24:', '00:')

In [31]:
ufos.astype({'datetime': 'datetime64[ns]'}, inplace = True)

ValueError: hour must be in 0..23

In [32]:
ufos['date_24'] = ufos['datetime'].apply(lambda x: '24:' in x)
ufos[ufos['date_24'] == True ]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2007-02-01,43.212778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,2003-03-04,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,2012-10-30,42.480556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,2003-10-31,-7.336830,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,2013-10-14,39.161944,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,2013-10-23,38.678611,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,2004-10-27,34.273889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,2007-11-28,44.974722,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,2012-10-30,41.261667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,2011-10-25,34.044722,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,2004-01-17,53.550000,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,1999-02-16,30.460000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,2009-12-12,41.026389,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2001-02-18,39.009167,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,2012-04-18,35.320000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,2000-08-25,19.063889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,2001-04-01,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,2004-01-31,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,2005-05-24,34.052222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,2006-05-15,47.104167,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,2009-03-19,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,1998-11-19,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,2005-11-03,34.278333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,2013-10-23,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,2008-03-31,26.705278,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,2002-10-28,42.652500,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,2002-10-28,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,2011-10-25,37.804444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,1999-04-02,45.715000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,2000-12-02,29.423889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,2014-05-02,43.555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,2006-10-30,42.437500,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,2008-08-12,41.026389,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,2009-12-12,50.850000,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,2005-09-02,41.850000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,2005-09-15,40.771944,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,2001-10-12,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2008-02-14,28.982500,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,2011-10-10,45.221667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,1998-09-26,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,1998-09-26,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,1998-09-26,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,1999-11-02,47.406667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,1998-09-26,40.236389,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,1998-09-26,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,2004-09-29,42.656667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,2014-01-24,42.760000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,1998-11-01,47.674167,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,2004-04-09,41.314444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,2006-10-30,43.422222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,2008-10-31,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,2006-10-30,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,2002-09-06,28.555000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,2004-09-29,48.195833,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,2004-09-09,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,2013-09-09,36.232500,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,2005-12-16,33.849167,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,2002-09-13,38.731667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,2004-09-09,38.478333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,2003-09-17,42.008333,-91.643889,True

In [33]:
ufos['datetime'] = ufos['datetime'].replace('24:', '00:')

In [34]:
ufos[ufos['date_24'] == True ]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2007-02-01,43.212778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,2003-03-04,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,2012-10-30,42.480556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,2003-10-31,-7.336830,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,2013-10-14,39.161944,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,2013-10-23,38.678611,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,2004-10-27,34.273889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,2007-11-28,44.974722,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,2012-10-30,41.261667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,2011-10-25,34.044722,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,2004-01-17,53.550000,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,1999-02-16,30.460000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,2009-12-12,41.026389,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2001-02-18,39.009167,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,2012-04-18,35.320000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,2000-08-25,19.063889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,2001-04-01,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,2004-01-31,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,2005-05-24,34.052222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,2006-05-15,47.104167,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,2009-03-19,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,1998-11-19,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,2005-11-03,34.278333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,2013-10-23,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,2008-03-31,26.705278,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,2002-10-28,42.652500,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,2002-10-28,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,2011-10-25,37.804444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,1999-04-02,45.715000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,2000-12-02,29.423889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,2014-05-02,43.555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,2006-10-30,42.437500,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,2008-08-12,41.026389,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,2009-12-12,50.850000,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,2005-09-02,41.850000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,2005-09-15,40.771944,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,2001-10-12,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2008-02-14,28.982500,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,2011-10-10,45.221667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,1998-09-26,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,1998-09-26,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,1998-09-26,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,1999-11-02,47.406667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,1998-09-26,40.236389,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,1998-09-26,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,2004-09-29,42.656667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,2014-01-24,42.760000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,1998-11-01,47.674167,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,2004-04-09,41.314444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,2006-10-30,43.422222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,2008-10-31,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,2006-10-30,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,2002-09-06,28.555000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,2004-09-29,48.195833,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,2004-09-09,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,2013-09-09,36.232500,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,2005-12-16,33.849167,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,2002-09-13,38.731667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,2004-09-09,38.478333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,2003-09-17,42.008333,-91.643889,True

In [35]:
ufos['datetime'] = ufos['datetime'].apply(lambda x: x.replace('24:', '00:'))

In [36]:
ufos['datetime'] = ufos['datetime'].astype('datetime64[ns]')

# Duration_seconds

In [37]:
ufos.astype({'duration_seconds': float})

ValueError: could not convert string to float: '2`'

In [38]:
ufos['duration_seconds'] = ufos['duration_seconds'].apply(lambda x: x.replace('`', ''))

In [39]:
ufos['duration_seconds'] = ufos['duration_seconds'].astype('float64')

In [40]:
ufos.dtypes

datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration_seconds             float64
duration_hours_min            object
comments                      object
date_posted           datetime64[ns]
latitude                     float64
longitude                    float64
date_24                         bool
dtype: object

In [41]:
ufos.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111,False
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082,False
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667,False
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833,False
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611,False

# NaN values

In [42]:
ufos.isnull()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,True,True,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,True,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,True,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80302,False,False,False,False,False,False,False,False,False,False,False,False
80303,False,False,False,False,False,False,False,False,False,False,False,False
80304,False,False,False,False,False,False,False,False,False,False,False,False
80305,False,False,False,False,False,False,False,False,False,False,False,False
80306,False,False,False,False,False,False,False,False,False,False,False,False
80307,False,False,False,False,False,False,False,False,False,False,False,False
80308,False,False,False,False,False,False,False,False,False,False,False,False
80309,False,False,False,False,False,False,False,False,False,False,False,False
80310,False,False,False,False,False,False,False,False,False,False,False,False
80311,False,False,False,False,False,False,False,False,False,False,False,False
80312,False,False,False,False,False,False,False,False,False,False,False,False
80313,False,False,False,False,False,False,False,False,False,False,False,False
80314,False,False,False,False,False,False,False,False,False,False,False,False
80315,False,False,False,False,False,False,False,False,False,False,False,False
80316,False,False,False,False,False,False,False,False,False,False,False,False
80317,False,False,False,False,False,False,False,False,False,False,False,False
80318,False,False,False,False,False,False,False,False,False,False,False,False
80319,False,False,False,True,False,False,False,False,False,False,False,False
80320,False,False,False,False,False,False,False,False,False,False,False,False
80321,False,False,False,False,False,False,False,False,False,False,False,False
80322,False,False,True,True,False,False,False,False,False,False,False,False
80323,False,False,False,False,False,False,False,False,False,False,False,False
80324,False,False,False,True,False,False,False,False,False,False,False,False
80325,False,False,False,False,False,False,False,False,False,False,False,False
80326,False,False,False,False,False,False,False,False,False,False,False,False
80327,False,False,False,False,False,False,False,False,False,False,False,False
80328,False,False,False,False,False,False,False,False,False,False,False,False
80329,False,False,False,False,False,False,False,False,False,False,False,False
80330,False,False,False,False,False,False,False,False,False,False,False,False
80331,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
ufos.isnull().sum()

datetime                 0
city                     0
state                 5797
country               9670
shape                 1932
duration_seconds         0
duration_hours_min       0
comments                15
date_posted              0
latitude                 0
longitude                0
date_24                  0
dtype: int64

In [44]:
ufos['comments'] = ufos['comments'].fillna('No comments')

In [45]:
ufos.isnull().sum()

datetime                 0
city                     0
state                 5797
country               9670
shape                 1932
duration_seconds         0
duration_hours_min       0
comments                 0
date_posted              0
latitude                 0
longitude                0
date_24                  0
dtype: int64

In [47]:
ufos = ufos.fillna(0)

# Aggregations

In [57]:
ufos.head(3)

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111,False
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082,False
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667,False

In [58]:
df = ufos.groupby('country').count()

In [59]:
df.index

Index([0, 'au', 'ca', 'de', 'gb', 'us'], dtype='object', name='country')

In [60]:
ufos.index

RangeIndex(start=0, stop=80332, step=1)

In [63]:
df[['datetime']].rename(columns = {'datetime': 'sightings'})

         sightings
country
0             9670
au             538
ca            3000
de             105
gb            1905
us           65114

In [64]:
df.iloc[:,0]

country
0      9670
au      538
ca     3000
de      105
gb     1905
us    65114
Name: datetime, dtype: int64

In [66]:
df.columns[0]

'datetime'

In [67]:
df[df.columns[0]]

country
0      9670
au      538
ca     3000
de      105
gb     1905
us    65114
Name: datetime, dtype: int64

In [68]:
df[[df.columns[0]]]

         datetime
country
0            9670
au            538
ca           3000
de            105
gb           1905
us          65114

In [72]:
group_countries = ufos.groupby('country').count()[[ufos.columns[0]]].rename(columns={ufos.columns[0]: 'sighting'})

In [73]:
group_countries

         sighting
country
0            9670
au            538
ca           3000
de            105
gb           1905
us          65114

In [74]:
ufos

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111,False
1,1949-10-10 21:00:00,lackland afb,tx,0,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082,False
2,1955-10-10 17:00:00,chester (uk/england),0,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667,False
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833,False
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611,False
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.595000,-82.188889,False
6,1965-10-10 21:00:00,penarth (uk/wales),0,gb,circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000,False
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.117500,-73.408333,False
8,1966-10-10 20:00:00,pell city,al,us,disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.586111,-86.286111,False
9,1966-10-10 21:00:00,live oak,fl,us,disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.294722,-82.984167,False
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.916389,-118.351667,False
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.233333,-82.734444,False
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800.0,30 min.,silver disc seen by family and neighbors,2000-05-11,40.668611,-73.527500,False
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.153611,-83.761944,False
14,1971-10-10 21:00:00,lexington,nc,us,oval,30.0,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.823889,-80.253611,False
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200.0,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.843056,-83.321944,False
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120.0,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.537778,-83.233056,False
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800.0,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.325278,-72.193611,False
18,1973-10-10 23:00:00,bermuda nas,0,0,light,20.0,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611,False
19,1974-10-10 19:30:00,hudson,ma,us,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.391667,-71.566667,False
20,1974-10-10 21:30:00,cardiff (uk/wales),0,gb,disk,1200.0,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.500000,-3.200000,False
21,1974-10-10 23:00:00,hudson,ks,us,light,1200.0,one hour?,The light chased us.,2004-07-25,38.105556,-98.659722,False
22,1975-10-10 17:00:00,north charleston,sc,us,light,360.0,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.854444,-79.975000,False
23,1976-10-10 20:30:00,washougal,wa,us,oval,60.0,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.582778,-122.352222,False
24,1976-10-10 22:00:00,stoke mandeville (uk/england),0,gb,cigar,3.0,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333,False
25,1977-10-10 12:00:00,san antonio,tx,us,other,30.0,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.423889,-98.493333,False
26,1977-10-10 22:00:00,louisville,ky,us,light,30.0,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.254167,-85.759444,False
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300.0,5min,A memory I will never forget that happened men...,2007-02-01,40.700833,-73.713333,False
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.700278,-73.921389,False
29,1979-10-10 22:00:00,saddle lake (canada),ab,0,triangle,270.0,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885,False
...,...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800.0,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.721111,-77.915833,False
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600.0,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.700833,-73.713333,False
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120.0,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.200000,-86.518611,False
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900.0,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.278333,-119.292222,False
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10.0,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.562222,-111.928889,False
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600.0,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.681944,-85.976667,False
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290.0,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.714167,-74.006389,False
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60.0,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.433056,-79.121667,False
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300.0,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.278333,-119.292222,False
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900.0,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.776389,-79.931111,False
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5.0,5 seconds,Ball of light,2012-09-24,34.297778,-83.824167,False
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1.0,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.846667,-76.285556,False
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180.0,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.886389,-78.878611,False
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120.0,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.052500,-80.608056,False
80316,2013-09-09 09:51:00,san diego,ca,us,light,4.0,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.715278,-117.156389,False
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8.0,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.505000,-97.820000,False
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90.0,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.250000,-113.783333,False
80319,2013-09-09 20:15:00,clifton,nj,0,other,3600.0,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755,False
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60.0,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.209722,-87.569167,False
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3.0,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.529722,-87.359444,False
80322,2013-09-09 21:00:00,aleksandrow (poland),0,0,light,15.0,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814,False
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60.0,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.651389,-82.325000,False
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,0,light,120.0,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548,False
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.300000,-63.216667,False
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.101389,-84.519444,False
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,False
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,False
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,False
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,False
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,False

In [75]:
ufos.groupby('country').mean()

         duration_seconds   latitude   longitude   date_24
country
0            13408.761883  34.668318  -56.110356  0.014168
au            3806.469238 -32.797061  143.236885  0.011152
ca           28859.437007  47.193421  -90.285780  0.007000
de           24255.980952  50.603340   10.063808  0.028571
gb           66061.321207  52.746508   -1.677395  0.020997
us            5800.014047  38.357911  -95.710870  0.007479

In [79]:
 group_country_duration = ufos.groupby('country').mean()[['duration_seconds']].rename(columns={'duration_seconds': 'mean_duration'})

In [80]:
group_countries

         sighting
country
0            9670
au            538
ca           3000
de            105
gb           1905
us          65114

In [81]:
group_country_duration

         mean_duration
country
0         13408.761883
au         3806.469238
ca        28859.437007
de        24255.980952
gb        66061.321207
us         5800.014047

In [82]:
group_countries.merge(group_country_duration, left_index=True, right_index=True, how='inner')

         sighting  mean_duration
country
0            9670   13408.761883
au            538    3806.469238
ca           3000   28859.437007
de            105   24255.980952
gb           1905   66061.321207
us          65114    5800.014047

In [84]:
ufos.groupby(['country', 'shape']).count()

                   datetime   city  state  duration_seconds  \
country shape
0       0               271    271    271               271
        changing        252    252    252               252
        chevron          89     89     89                89
        cigar           262    262    262               262
        circle          891    891    891               891
        cone             40     40     40                40
        crescent          1      1      1                 1
        cross            25     25     25                25
        cylinder        161    161    161               161
        diamond         154    154    154               154
        disk            736    736    736               736
        dome              1      1      1                 1
        egg             105    105    105               105
        fireball        682    682    682               682
        flash           174    174    174               174
        formation       286    286    286               286
        light          1937   1937   1937              1937
        other           760    760    760               760
        oval            448    448    448               448
        rectangle       140    140    140               140
        sphere          655    655    655               655
        teardrop         88     88     88                88
        triangle        827    827    827               827
        unknown         685    685    685               685
au      0                11     11     11                11
        changing          9      9      9                 9
        chevron           3      3      3                 3
        cigar            15     15     15                15
        circle           62     62     62                62
        cone              6      6      6                 6
...                     ...    ...    ...               ...
gb      unknown          92     92     92                92
us      0              1553   1553   1553              1553
        changed           1      1      1                 1
        changing       1584   1584   1584              1584
        chevron         815    815    815               815
        cigar          1643   1643   1643              1643
        circle         6118   6118   6118              6118
        cone            247    247    247               247
        crescent          1      1      1                 1
        cross           188    188    188               188
        cylinder       1027   1027   1027              1027
        delta             6      6      6                 6
        diamond         928    928    928               928
        disk           4121   4121   4121              4121
        egg             581    581    581               581
        fireball       5148   5148   5148              5148
        flare             1      1      1                 1
        flash          1062   1062   1062              1062
        formation      1990   1990   1990              1990
        hexagon           1      1      1                 1
        light         13473  13473  13473             13473
        other          4466   4466   4466              4466
        oval           3032   3032   3032              3032
        pyramid           1      1      1                 1
        rectangle      1070   1070   1070              1070
        round             2      2      2                 2
        sphere         4347   4347   4347              4347
        teardrop        592    592    592               592
        triangle       6549   6549   6549              6549
        unknown        4567   4567   4567              4567

                   duration_hours_min  comments  date_posted  latitude  \
country shape
0       0                         271       271          271       271
        changing                  252       252          252       252
        chevron                    89        89           89        89
        cigar                     262       262          262       262
        circle                    891       891          891       891
        cone                       40        40           40        40
        crescent                    1         1            1         1
        cross                      25        25           25        25
        cylinder                  161       161          161       161
        diamond                   154       154          154       154
        disk                      736       736          736       736
        dome                        1         1            1         1
        egg                       105       105          105       105
        fireball                  682       682          682       682
        flash                     174       174          174       174
        formation                 286       286          286       286
        light                    1937      1937         1937      1937
        other                     760       760          760       760
        oval                      448       448          448       448
        rectangle                 140       140          140       140
        sphere                    655       655          655       655
        teardrop                   88        88           88        88
        triangle                  827       827          827       827
        unknown                   685       685          685       685
au      0                          11        11           11        11
        changing                    9         9            9         9
        chevron                     3         3            3         3
        cigar                      15        15           15        15
        circle                     62        62           62        62
        cone                        6         6            6         6
...                               ...       ...          ...       ...
gb      unknown                    92        92           92        92
us      0                        1553      1553         1553      1553
        changed                     1         1            1         1
        changing                 1584      1584         1584      1584
        chevron                   815       815          815       815
        cigar                    1643      1643         1643      1643
        circle                   6118      6118         6118      6118
        cone                      247       247          247       247
        crescent                    1         1            1         1
        cross                     188       188          188       188
        cylinder                 1027      1027         1027      1027
        delta                       6         6            6         6
        diamond                   928       928          928       928
        disk                     4121      4121         4121      4121
        egg                       581       581          581       581
        fireball                 5148      5148         5148      5148
        flare                       1         1            1         1
        flash                    1062      1062         1062      1062
        formation                1990      1990         1990      1990
        hexagon                     1         1            1         1
        light                   13473     13473        13473     13473
        other                    4466      4466         4466      4466
        oval                     3032      3032         3032      3032
        pyramid                     1         1            1         1
        rectangle                1070      1070         1070      1070
        round                       2         2            2         2
        sphere                   4347      4347         4347      4347
        teardrop                  592       592          592       592
        triangle                 6549      6549         6549      6549
        unknown                  4567      4567         4567      4567

                   longitude  date_24
country shape
0       0                271      271
        changing         252      252
        chevron           89       89
        cigar            262      262
        circle           891      891
        cone              40       40
        crescent           1        1
        cross             25       25
        cylinder         161      161
        diamond          154      154
        disk             736      736
        dome               1        1
        egg              105      105
        fireball         682      682
        flash            174      174
        formation        286      286
        light           1937     1937
        other            760      760
        oval             448      448
        rectangle        140      140
        sphere           655      655
        teardrop          88       88
        triangle         827      827
        unknown          685      685
au      0                 11       11
        changing           9        9
        chevron            3        3
        cigar             15       15
        circle            62       62
        cone               6        6
...                      ...      ...
gb      unknown           92       92
us      0               1553     1553
        changed            1        1
        changing        1584     1584
        chevron          815      815
        cigar           1643     1643
        circle          6118     6118
        cone             247      247
        crescent           1        1
        cross            188      188
        cylinder        1027     1027
        delta              6        6
        diamond          928      928
        disk            4121     4121
        egg              581      581
        fireball        5148     5148
        flare              1        1
        flash           1062     1062
        formation       1990     1990
        hexagon            1        1
        light          13473    13473
        other           4466     4466
        oval            3032     3032
        pyramid            1        1
        rectangle       1070     1070
        round              2        2
        sphere          4347     4347
        teardrop         592      592
        triangle        6549     6549
        unknown         4567     4567

[139 rows x 10 columns]

In [91]:
set(ufos['shape'])

{0,
 'changed',
 'changing',
 'chevron',
 'cigar',
 'circle',
 'cone',
 'crescent',
 'cross',
 'cylinder',
 'delta',
 'diamond',
 'disk',
 'dome',
 'egg',
 'fireball',
 'flare',
 'flash',
 'formation',
 'hexagon',
 'light',
 'other',
 'oval',
 'pyramid',
 'rectangle',
 'round',
 'sphere',
 'teardrop',
 'triangle',
 'unknown'}

In [92]:
ufos.groupby('shape').count()

,datetime,city,state,country,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,date_24
shape,,,,,,,,,,,
0,1932,1932,1932,1932,1932,1932,1932,1932,1932,1932,1932
changed,1,1,1,1,1,1,1,1,1,1,1
changing,1962,1962,1962,1962,1962,1962,1962,1962,1962,1962,1962
chevron,952,952,952,952,952,952,952,952,952,952,952
cigar,2057,2057,2057,2057,2057,2057,2057,2057,2057,2057,2057
circle,7608,7608,7608,7608,7608,7608,7608,7608,7608,7608,7608
cone,316,316,316,316,316,316,316,316,316,316,316
crescent,2,2,2,2,2,2,2,2,2,2,2
cross,233,233,233,233,233,233,233,233,233,233,233
cylinder,1283,1283,1283,1283,1283,1283,1283,1283,1283,1283,1283
delta,7,7,7,7,7,7,7,7,7,7,7
diamond,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178
disk,5213,5213,5213,5213,5213,5213,5213,5213,5213,5213,5213
dome,1,1,1,1,1,1,1,1,1,1,1
egg,759,759,759,759,759,759,759,759,759,759,759
fireball,6208,6208,6208,6208,6208,6208,6208,6208,6208,6208,6208
flare,1,1,1,1,1,1,1,1,1,1,1
flash,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328
formation,2457,2457,2457,2457,2457,2457,2457,2457,2457,2457,2457
hexagon,1,1,1,1,1,1,1,1,1,1,1
light,16565,16565,16565,16565,16565,16565,16565,16565,16565,16565,16565
other,5649,5649,5649,5649,5649,5649,5649,5649,5649,5649,5649
oval,3733,3733,3733,3733,3733,3733,3733,3733,3733,3733,3733
pyramid,1,1,1,1,1,1,1,1,1,1,1
rectangle,1297,1297,1297,1297,1297,1297,1297,1297,1297,1297,1297
round,2,2,2,2,2,2,2,2,2,2,2
sphere,5387,5387,5387,5387,5387,5387,5387,5387,5387,5387,5387
teardrop,750,750,750,750,750,750,750,750,750,750,750
triangle,7865,7865,7865,7865,7865,7865,7865,7865,7865,7865,7865
unknown,5584,5584,5584,5584,5584,5584,5584,5584,5584,5584,5584

In [97]:
total_views_shape = ufos.groupby('shape').count()[[ufos.columns[0]]].rename(columns={ufos.columns[0]: 'sighting'}).sort_values('sighting', ascending=False)

In [104]:
total_views_shape

           sighting
shape
light         16565
triangle       7865
circle         7608
fireball       6208
other          5649
unknown        5584
sphere         5387
disk           5213
oval           3733
formation      2457
cigar          2057
changing       1962
0              1932
flash          1328
rectangle      1297
cylinder       1283
diamond        1178
chevron         952
egg             759
teardrop        750
cone            316
cross           233
delta             7
crescent          2
round             2
hexagon           1
pyramid           1
flare             1
changed           1
dome              1

In [108]:
relative_shapes = pd.DataFrame(ufos['shape'].value_counts(normalize=True))

In [110]:
total_views_shape = total_views_shape.merge(relative_shapes, left_index = True, right_index=True)

In [116]:
total_views_shape['shape_per'] = total_views_shape['shape'] * 100

In [123]:
total_views_shape['shape_per_round'] = round(total_views_shape['shape_per'], 2)

In [124]:
total_views_shape

           sighting     shape  shape_per  shape_per_round
light         16565  0.206207  20.620674            20.62
triangle       7865  0.097906   9.790619             9.79
circle         7608  0.094707   9.470697             9.47
fireball       6208  0.077279   7.727929             7.73
other          5649  0.070321   7.032067             7.03
unknown        5584  0.069512   6.951153             6.95
sphere         5387  0.067059   6.705920             6.71
disk           5213  0.064893   6.489319             6.49
oval           3733  0.046470   4.646965             4.65
formation      2457  0.030586   3.058557             3.06
cigar          2057  0.025606   2.560623             2.56
changing       1962  0.024424   2.442364             2.44
0              1932  0.024050   2.405019             2.41
flash          1328  0.016531   1.653139             1.65
rectangle      1297  0.016145   1.614550             1.61
cylinder       1283  0.015971   1.597122             1.60
diamond        1178  0.014664   1.466414             1.47
chevron         952  0.011851   1.185082             1.19
egg             759  0.009448   0.944829             0.94
teardrop        750  0.009336   0.933625             0.93
cone            316  0.003934   0.393368             0.39
cross           233  0.002900   0.290046             0.29
delta             7  0.000087   0.008714             0.01
crescent          2  0.000025   0.002490             0.00
round             2  0.000025   0.002490             0.00
hexagon           1  0.000012   0.001245             0.00
pyramid           1  0.000012   0.001245             0.00
flare             1  0.000012   0.001245             0.00
changed           1  0.000012   0.001245             0.00
dome              1  0.000012   0.001245             0.00

In [126]:
total_views_shape[['shape_cum_per']] = total_views_shape[['shape_per_round']].cumsum()

In [127]:
total_views_shape

           sighting     shape  shape_per  shape_per_round  shape_cum_per
light         16565  0.206207  20.620674            20.62          20.62
triangle       7865  0.097906   9.790619             9.79          30.41
circle         7608  0.094707   9.470697             9.47          39.88
fireball       6208  0.077279   7.727929             7.73          47.61
other          5649  0.070321   7.032067             7.03          54.64
unknown        5584  0.069512   6.951153             6.95          61.59
sphere         5387  0.067059   6.705920             6.71          68.30
disk           5213  0.064893   6.489319             6.49          74.79
oval           3733  0.046470   4.646965             4.65          79.44
formation      2457  0.030586   3.058557             3.06          82.50
cigar          2057  0.025606   2.560623             2.56          85.06
changing       1962  0.024424   2.442364             2.44          87.50
0              1932  0.024050   2.405019             2.41          89.91
flash          1328  0.016531   1.653139             1.65          91.56
rectangle      1297  0.016145   1.614550             1.61          93.17
cylinder       1283  0.015971   1.597122             1.60          94.77
diamond        1178  0.014664   1.466414             1.47          96.24
chevron         952  0.011851   1.185082             1.19          97.43
egg             759  0.009448   0.944829             0.94          98.37
teardrop        750  0.009336   0.933625             0.93          99.30
cone            316  0.003934   0.393368             0.39          99.69
cross           233  0.002900   0.290046             0.29          99.98
delta             7  0.000087   0.008714             0.01          99.99
crescent          2  0.000025   0.002490             0.00          99.99
round             2  0.000025   0.002490             0.00          99.99
hexagon           1  0.000012   0.001245             0.00          99.99
pyramid           1  0.000012   0.001245             0.00          99.99
flare             1  0.000012   0.001245             0.00          99.99
changed           1  0.000012   0.001245             0.00          99.99
dome              1  0.000012   0.001245             0.00          99.99

In [142]:
shapes_good = list(total_views_shape.iloc[0:5].index)
shapes_good

['light', 'triangle', 'circle', 'fireball', 'other']

rate = lambda T: 200*exp(-T) if T>200 else 400*exp(-T)

In [139]:
ufos['new_shape'] = ufos['shape'].apply(lambda x: x if x in shapes_good else 'other')

In [141]:
ufos[['shape', 'new_shape']]

           shape new_shape
0       cylinder     other
1          light     light
2         circle    circle
3         circle    circle
4          light     light
5         sphere     other
6         circle    circle
7           disk     other
8           disk     other
9           disk     other
10        circle    circle
11      fireball  fireball
12          disk     other
13       unknown     other
14          oval     other
15        circle    circle
16          disk     other
17          disk     other
18         light     light
19         other     other
20          disk     other
21         light     light
22         light     light
23          oval     other
24         cigar     other
25         other     other
26         light     light
27     rectangle     other
28       chevron     other
29      triangle  triangle
...          ...       ...
80302      light     light
80303     circle    circle
80304      light     light
80305    chevron     other
80306     circle    circle
80307       oval     other
80308      light     light
80309       oval     other
80310     circle    circle
80311      flash     other
80312      light     light
80313    unknown     other
80314   triangle  triangle
80315    unknown     other
80316      light     light
80317      cigar     other
80318    unknown     other
80319      other     other
80320   fireball  fireball
80321   fireball  fireball
80322      light     light
80323   triangle  triangle
80324      light     light
80325   fireball  fireball
80326     sphere     other
80327      light     light
80328     circle    circle
80329      other     other
80330     circle    circle
80331      cigar     other

[80332 rows x 2 columns]

In [144]:
ufos.groupby(['country', 'new_shape']).count()

                   datetime   city  state  shape  duration_seconds  \
country new_shape
0       circle          891    891    891    891               891
        fireball        682    682    682    682               682
        light          1937   1937   1937   1937              1937
        other          5333   5333   5333   5333              5333
        triangle        827    827    827    827               827
au      circle           62     62     62     62                62
        fireball         34     34     34     34                34
        light           119    119    119    119               119
        other           280    280    280    280               280
        triangle         43     43     43     43                43
ca      circle          284    284    284    284               284
        fireball        218    218    218    218               218
        light           655    655    655    655               655
        other          1575   1575   1575   1575              1575
        triangle        268    268    268    268               268
de      circle           10     10     10     10                10
        fireball          9      9      9      9                 9
        light            20     20     20     20                20
        other            57     57     57     57                57
        triangle          9      9      9      9                 9
gb      circle          243    243    243    243               243
        fireball        117    117    117    117               117
        light           361    361    361    361               361
        other          1015   1015   1015   1015              1015
        triangle        169    169    169    169               169
us      circle         6118   6118   6118   6118              6118
        fireball       5148   5148   5148   5148              5148
        light         13473  13473  13473  13473             13473
        other         33826  33826  33826  33826             33826
        triangle       6549   6549   6549   6549              6549

                   duration_hours_min  comments  date_posted  latitude  \
country new_shape
0       circle                    891       891          891       891
        fireball                  682       682          682       682
        light                    1937      1937         1937      1937
        other                    5333      5333         5333      5333
        triangle                  827       827          827       827
au      circle                     62        62           62        62
        fireball                   34        34           34        34
        light                     119       119          119       119
        other                     280       280          280       280
        triangle                   43        43           43        43
ca      circle                    284       284          284       284
        fireball                  218       218          218       218
        light                     655       655          655       655
        other                    1575      1575         1575      1575
        triangle                  268       268          268       268
de      circle                     10        10           10        10
        fireball                    9         9            9         9
        light                      20        20           20        20
        other                      57        57           57        57
        triangle                    9         9            9         9
gb      circle                    243       243          243       243
        fireball                  117       117          117       117
        light                     361       361          361       361
        other                    1015      1015         1015      1015
        triangle                  169       169          169       169
us      circle                   6118      6118         6118      6118
        fireball                 5148      5148         5148      5148
        light                   13473     13473        13473     13473
        other                   33826     33826        33826     33826
        triangle                 6549      6549         6549      6549

                   longitude  date_24
country new_shape
0       circle           891      891
        fireball         682      682
        light           1937     1937
        other           5333     5333
        triangle         827      827
au      circle            62       62
        fireball          34       34
        light            119      119
        other            280      280
        triangle          43       43
ca      circle           284      284
        fireball         218      218
        light            655      655
        other           1575     1575
        triangle         268      268
de      circle            10       10
        fireball           9        9
        light             20       20
        other             57       57
        triangle           9        9
gb      circle           243      243
        fireball         117      117
        light            361      361
        other           1015     1015
        triangle         169      169
us      circle          6118     6118
        fireball        5148     5148
        light          13473    13473
        other          33826    33826
        triangle        6549     6549